<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aprendiendo GIT</title>
    <link rel="stylesheet" href="../asset/style.css" />
  </head>
  <body>
    <h1>Aprendiendo GIT</h1>
    <ul>
      <li>elemento 1</li>
      <li>elemento 2</li>
      <li>elemento 3</li>
      <li>elemento 4</li>
      <li>elemento 5</li>
    </ul>
    <p>
        APRENDIENDO A RESOLVER CONFLICTOS ENTRE RAMAS
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et id numquam
      libero quod cumque officia qui fugit laudantium, illo facilis provident
      quos. Sit voluptatem possimus consectetur laudantium rerum soluta odio.
    </p>
    <script src="../index.js"></script>
  </body>
</html>
</body>
</html>
